@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
}

section{
    background-image: url(./assets/0\ -\ Banda.JPG);
    background-size: 100%;
    height: 650px;
    width: 100%;    
    display: flex;
    align-items: flex-end;
}

.box{
    width: 400px;
    height: 138px;
    border: solid white 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 30px 120px 30px 120px;
    padding-left: 20px;
    background-color: black;
}

.content-box{
    color: white;
    font-family: 'Inter', sans-serif;
}

.title-content-box{
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;

}

.title-content-box a{
    text-decoration: none;
    color: white;
}

.text-content-box{
    padding-left: 20px;
}

.text-content-box a{
    text-decoration: none;
    color: white;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagem img{
    width: 80px;
}