@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
}

body{
    background-color: #000;
}

header{
    border: solid white 1px;
}

#conteudo-header{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    width: 200px;
}

.menuNav ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    grid-gap: 30px;
    font-family: 'Inter', sans-serif;
}

.menuNav a{
    text-decoration: none;
    color: white;
    padding: 10px;
}


.menuNav .active a, .menuNav a:hover { 
    background-color: white; 
    color:#000000; 
}   


footer{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
}

#copy{
    color: white;
    font-family: 'Inter', sans-serif;
    padding-bottom: 5px;
}

.menuNavFooter ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    grid-gap: 30px;
    font-family: 'Inter', sans-serif;
    justify-content: center;
    padding-top: 5px;
}

.menuNavFooter a{
    text-decoration: none;
    color: white;
}
