*{
    margin: 0;
}

.sobre{
    background-image: url(./assets/034.JPG);
    background-size: 100%;
    height: 800px;
    width: 100%;    
    display: flex;
    justify-content: flex-end;
}

.epSul{
    background-image: url(./assets/57.JPG);
    background-size: 100%;
    height: 800px;
    width: 100%;    
    display: flex;
    align-items: flex-end;
}

.boxProjeto{
    width: 200px;
    height: 600px;
    border: solid white 1px;
    margin: 30px 120px 30px 120px;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.projetoTitle{
    padding-bottom: 30px;
}

.projetoText p{
    padding-bottom: 10px;
}

.boxEpSul{
    width: 900px;
    height: 200px;
    border: solid white 1px;
    margin: 30px 120px 30px 120px;
    padding: 20px;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}

.EpSulTitle{
    padding-bottom: 30px;
}

.EpSulText p{
    padding-bottom: 10px;
}